<div class="page-header">
  <h1><%= Customer.find(@customer).name + "'s Tasks" %></h1>
  <h3><%= Customer.find(@customer).email + " | " +  Customer.find(@customer).phone %></h3>
</div>

<div id="table-tasks">
  <table class="table-two">
    <col width="50">
    <thead class="thead-tasks">
      <tr>
        <th id="icon"><%= link_to_modal "#form2", data: {toggle: "modal", target: "#myModal2"} do %><i class="fa fa-plus-circle" href="#form2" data-toggle="modal"></i><% end %></th>
        <th id="new-task">Add New Task</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <div class="table-body">
      <tbody id="tasks-list">
        <%= content_tag_for(:tr, @tasks) do |task| %>
          <td></td>
          <td class="description"><%= task.description %></td>
          <td></td>
          <td id="last-td">
            <%= link_to("/tasks/complete/#{task.id}") do %>
              <% if task.completed %>
                <button type="submit" class="completed">Complete!</button>
              <% else %>
                <button type="submit" class="mark-completed">Mark Complete</button>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tbody>
    <div>
  </table>
</div>

<div id="form2" class="modal hide fade" style="display: none;">
  <div class='modal-header'>
    <h3 class="modal-title-tasks">Add New Task</h3>
  </div>
  <div class='modal-body'>
    <table class="modal-body-content-tasks">
      <%= form_for Task.new, url: {action: "create"}, html: {class: "form2"} do |f| %>
          <tbody class="modal-form-tbody">
            <tr class="field">
              <td class="modal-td">
                <%= f.label "Enter Task Description" %>
                <%= f.text_field :description %>
              </td>
            </tr><br>
                <%= f.hidden_field :customer_id, :value => params[:id] %>
           </tbody>
         </table>
        <div class="actions">
           <%= f.submit "Done" %>
        </div>
        <% end %>
    </div>
</div>

